* {
background-color: black;
}

.ascii {
  font-family: monospace;
  white-space: pre;
  color: white;
}

span, a {

}

p, header {
color: white;
}



.description {
  white-space: normal;
  width: 700px;
  position: absolute;
  top: 400px;
  margin-left: 100px;
  margin-right: auto;

}

header {
font-family: monospace;
margin-left: 300px;
}

br { font-size: 400%; }

.ampersand {
  color: blue
}

.ampersand:hover ~ .description::after {
  content: "That's you."
}

.rainboots:hover ~ .description::after {
  content: "Some small blue rainboots. The floor around them is encrusted with salt."
}

.guitar:hover ~ .description::after {
  content: "There's a guitar on this couch."
}

.minifridge:hover ~ .description::after {
  content: "In the minifridge there is a pack of white cheddar cheese slices, a pack of tortillas with two left, a bottle of milk and a weird red jar."
}

.table:hover ~ .description::after {
  content: "On the low coffee table sits a pitcher of water, a cold mug of tea, a roll of paper towels, a Valentine's day card, a jar of Vegemite, and a jar of peanut butter."
}

.chairs:hover ~ .description::after {
  content: "Two red pleather chairs. If you got up on the backs of them you could probably climb up onto the fireplace mantel, but you don't want to die so you decide not to."
}

.couch:hover ~ .description::after {
  content: "It's a couch."
}

.bed:hover ~ .description::after {
  content: "A bare blue mattress on a wooden bedframe."
}

.s:hover ~ .description::after {
  content: "There are some black socks on the floor."
}

.desk1:hover ~ .description::after {
  content: "This desk has on it a lamp, a printer, several stacks of papers, two prescription pill bottles, two water bottles, an empty Club crackers box, a tin of salt, a pair of sunglasses, a straightedge, and a pack of silicone earplugs."
}

.desk2:hover ~ .description::after {
  content: "This desk has on it a cutting mat, a laptop, a pencil cup, a clear plastic cup filled with salt, a half-empty bottle of hand sanitizer, a cold mug of tea, various papers, and a protein bar."
}

.U:hover ~ .description::after {
  content: "There's a hamper here, filled with various black clothes."
}

.toilet:hover ~ .description::after {
  content: "A small toilet stall with a white porcelain toilet and a metal shelf."
}

.sink:hover ~ .description::after {
  content: "A small sink with a one-handled faucet and metal grate at the bottom. There's little strands of hair in it. On the counter around the sink are a bottle of aloe hand soap, two water bottles, one empty mug, a small funnel, a washcloth, a hand mirror, a package of hydrogen peroxide wipes, a set of hair-cutting scissors, a tub of moisturizer, and a travel comb. There's also a mirror above the sink. You look nice today."
}

.shower:hover ~ .description::after {
  content: "A tiny shower stall with a little metal shelf containing a bar of castile soap, a bottle of blue face wash, and a bottle of shampoo. The shower fixture is silver and one-handled like the sink. If you turn on the showerhead, it's deafeningly loud for some reason."
}

.printdesk:hover ~ .description::after {
  content: "A small plastic-topped wood-finish desk. On it there's a pad of newsprint, four large bottles of ink, a cup full of paintbrushes, a clear plastic cup full of dirty water, a three-hole puncher, the cap of a medicine bottle, a boxcutter, a cutting mat, a small linoleum cut of a fish and a lamp."
}

.springs:hover ~ .description::after {
  content: "It's basically a metal rectangle with a springy net of metal inside. Placed on top of it are four pages of 8x10\" paper covered in drying ink."
}

.extradesks:hover ~ .description::after {
  content: "There are a few extra desks and drawers in here. Dusty."
}

.storagewindow:hover ~ .description::after {
  content: "The window looks across at Hopper, you think. You can't get close enough to the window to look down and see the street."
}
